@model WebAdvert.Web.Models.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="ForgotPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit">Send Mail </button>
            <div class="alert alert-info mt-5">
                Not a member yet? <a asp-action="SignUp" asp-controller="Account" class="btn">Click here to Sign Up!</a>
            </div>
        </form>

    </div>

</div>

